<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://getbootstrap.com/examples/blog/blog.css" />
</head>
<body>

<%= render 'layouts/navigation' %>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Alpha-blog</h1>
    <p class="lead blog-description">Udemy Ruby on Rails course demo.</p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      <%= render 'layouts/messages' %>

      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
